body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

header {
  background-color: #1a0033;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-size: 2em;
  text-shadow: 0 0 10px #8a2be2, 0 0 20px #8a2be2, 0 0 30px #8a2be2;
}

nav {
  background-color: #2a004d;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px #8a2be2;
}

nav button {
  background-color: #4a0080;
  color: #fff;
  border: 1px solid #8a2be2;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
  text-shadow: 0 0 5px #8a2be2;
}

nav button i {
  margin-right: 8px;
}

nav button:hover {
  background-color: #6a00a0;
  box-shadow: 0 0 15px #8a2be2;
}

section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a0a0a;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #8a2be2;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 15px;
}

.project-item {
  margin: 0;
  text-align: center;
  transition: transform 0.3s;
  background-color: #1a0033;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #8a2be2;
  flex: 0 1 calc(33.333% - 15px);
  box-sizing: border-box;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #8a2be2;
}

.project-item img {
  max-width: 100%;
  border: 2px solid #8a2be2;
  transition: all 0.3s;
}

.project-item img:hover {
  border-color: #c71585;
  box-shadow: 0 0 15px #8a2be2;
}

h1, h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #8a2be2;
}

p {
  font-size: 1.2em;
}

#contact p i {
  margin-right: 10px;
  color: #8a2be2;
}

.gallery-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  background-color: #4a0080;
  color: #fff;
  border: 1px solid #8a2be2;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
  text-shadow: 0 0 5px #8a2be2;
}

.tab-button:hover, .tab-button.active {
  background-color: #6a00a0;
  box-shadow: 0 0 15px #8a2be2;
}

.gallery-category {
  display: none;
  width: 100%;
}

.gallery-category.active {
  display: block;
}